<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Pesa</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/adminPublic/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/adminPublic/vendors/base/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/adminPublic/css/style.css">

    <!-- table -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
  </head>